/*검색창*/

header #right-search-form>input[type=text] {
    position: relative;
    border: 5px solid #d294b4;
    background: #fff;
    font-size: 1.1em;
    padding: 0.3em 0.5em;
    border-radius: 15px;
}

/*돋보기*/

header #right-search-form>#right-search-btn {
    color: #d294b4;
    background: transparent;
    border: none;
    font-size: 1.8em;
}

/*광고창*/

header #header-bar #header-menu-left {
    border-right: 1px solid #ffffff;
    padding-right: 0;
}

header #header-bar #header-menu-right {
    border-left: 1px solid #ffffff;
}

/*광고네모창*/

header #header-bar #header-top-notice strong.notice-badge {
    background: #d294b4;
    padding: 4px 8px;
    color: #fff;
    font-weight: bold;
}

/*광고바*/

header #header-bar>.row {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top: 7px solid #d294b4;
    background: #fff;
    border-bottom: 2px solid #ffffff;
    border-right: 1px;
    border-radius: 15px;
}

/*광고메뉴*/

header #header-bar a.dropdown-toggle {
    display: inline-block;
    color: #d294b4;
    text-decoration: none;
    padding: 0.3em 0;
}

/*좌측메뉴창*/

#main .menu-wrapper {
    border-right: 5px solid #d294b4;
    border-bottom: 5px solid #d294b4;
    margin-bottom: 0.8em;
    border-left: 5px solid #d294b4;
    border-radius: 15px 15px 0px 0px;
    border-top: 5px solid #d294b4;
}

#main .menu-wrapper>.header {
    background: #d294b4;
    color: #fff;
    padding: 0.45em 1.4em 0.45em 1em;
    font-weight: bold;
}

#main .menu-wrapper>a {
    display: block;
    background: #fceff6;
    padding: 0.3em 1.4em 0.3em 0.7em;
    text-decoration: none;
    color: #d294b4;
    border-bottom: 1px solid #fceff6;
}

#main .menu-wrapper>a>em {
    color: #d294b4;
    text-decoration: none;
    font-style: normal;
    width: 24px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#main .menu-wrapper .spacer {
    background: #fceff6;
    display: block;
    height: 0.35em;
}

#main .menu-wrapper>a>i.fa.fa-square {
    width: 24px;
    display: inline-block;
    text-align: center;
    font-size: 0.1em;
    color: #d294b4;
    vertical-align: 0.2em;
}

/*스트리머 프로필*/

#board-info {
    width: 100%;
    height: 115px;
    line-height: 1;
    margin: 0 0 1em;
    padding: 1em;
    overflow: visible;
}


#board-info #board-info-profile-img {
    width: 3.5em;
    height: auto;
    width: 7.5em;
    height: auto;
    float: left !important;
    margin-right: 15px;
    border-radius: 100px;
    border: solid 5px #edccde;
    

}


/*순위권*/

#board-info > h1 > .badge {

    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #e8bfd5;
    border-radius: 10px;

}


/*접속자*/

#board-info #viewers-area {
    font-size: 14px;
    color: #e8bfd5;
    font-weight: normal;
    vertical-align: middle;
    line-height: 18px;
    display: inline-block;
}


#board-info #viewers-area #viewers:before {

    content: "도덕단 ";    /* 숫자 앞에 들어갈 문구 */

        /* ex) content: "트수 "; */

        /* 출력 시 : 트수 n */

    cursor: text;

}

#board-info #viewers-area #viewers:after {

    content: "명 지켜보는중";    /* 숫자 뒤에 들어갈 문구 */

        /* ex) content: "명 접속중"; */

        /* 출력시 : n명 접속중 */

    cursor: text;

}

/*스트리머 메뉴*/

#board-info #board-info-bottom a {
    font-size: 12px;
    color: #e8bfd5;
    display: inline-block;
    padding: 0 8px;
    text-decoration: none;
    border-right: 1px solid #ebebeb;
}

#board-info h1 {
    font-size: 24px;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 9px;
    margin-top: 29px;

}

/*게시판 헤더*/

#article-content-wrapper>.header {
    border-top: 7px solid #d396b5;
    background: #f6f6f6;
    padding: 0.6em 0.8em;
    border-radius: 15px 15px 0 0;
}

/*게시판 내용틀*/

#article-content-wrapper #article-content {
    float: none;
    clear: both;
    padding: 1em;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    word-wrap: break-word;
}

/*추천영역*/

#article-content-wrapper>.vote-area {
    text-align: center;
    padding: 0 0.8em 1.5em;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

/*목록영역*/

#article-content-wrapper>.footer {
    background: #ffffff;
    padding: 0.5em 0.8em;
}

/*댓글영역*/

#article-reply-area > .header h5 {
    font-size: 14px;
    color: #9c75a5;
    font-weight: bold;
}

#article-reply-area > a {
    color: #9c75a5;
    text-decoration: none;
}

/*댓글툴바*/

.fr-toolbar {
    color: #222;
    background: #fff;
    position: relative;
    z-index: 4;
    font-family: Arial,Helvetica,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 0 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 1px 1px rgba(0,0,0,.16);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 1px 1px rgba(0,0,0,.16);
    text-align: left;
    border: 0;
    border-top: 5px solid #9c75a5;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
}


/*카테고리*/

#article-list #article-list-category>a {
    display: inline-block;
    padding: 15px 34px;
    background: #fceff6;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #9c75a5;
}

/*인기글네모*/

#article-list>.article-list-row.hot {
    background-color: #e8bfd5;
}
#article-list>.article-list-row {
    text-align: center;
    display: table;
    width: 100%;
    border-right: 1px solid #ffffff;
}

/*게시글목록*/

#article-list>.article-list-row>.item>.list-title>.list-category {
    float: left;
    padding: 0 11px;
    border-left: 1px solid #e8bfd5;
    border-right: 1px solid #e8bfd5;
    text-align: center;
    min-height: 16px;
    line-height: 16px;
    margin-right: 5px;
}

#article-list>.article-list-row {
    text-align: center;
    display: table;
    width: 100%;
    border-right: 1px solid #fceff6;
}

#article-list>.article-list-row>.item>.list-header {
    width: 40px;
    border-left: 1px solid #fceff6;
}

/*댓글수*/

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    position: relative;
    text-align: center;
    padding: 0 5px;
    color: #9c75a5;
    word-break: break-word;
    border-radius: 1px;
    top: 2px;
    float: left;
}

/*게시글 오른쪽*/

#article-list>.article-list-row>.item>.list-title>.list-writer {
    float: right;
    padding: 0 11px;
    border-left: 1px solid #e8bfd5;
    border-right: 1px solid #e8bfd5;
    text-align: center;
    min-height: 16px;
    line-height: 16px;
}

/*작성자*/

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #9c75a5;
    font-weight: bold;
}

/*시간*/

#article-list>.article-list-row>.item>.list-time {
    width: 60px;
    position: relative;
    font-size: 11px;
    font-weight: 500;
    color: #9c75a5;
}

/*읽었던 글*/

#article-list>.article-list-row>.item>.list-title>a:visited {
    color: #d294b4 !important;
}

/*게시글*/

#article-list>.article-list-row>.item>.list-title>a {
    color: #9c75a5;
    text-decoration: none;
    line-height: 18px;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 450px;
    height: 18px;
    overflow: hidden;
    margin-right: 5px;
    float: left;
}

/*추천수*/

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #9c75a5;
    color: #fff;
    font-weight: bold;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 100px;
}

/*인기글버튼*/

#article-list #article-list-menu>.btn.best {
    position: absolute;
    left: 0;
    color: #9c75a5;
    background-image: none;
    background-color: transparent;
    border-color: #9c75a5;
    border-radius: 100px;
}

/*글쓰기버튼*/

#article-list #article-list-menu>.btn-primary {
    color: #fff;
    background-color: #9c75a5;
    border-color: #9c75a5;
    border-radius: 100px;
}

/*추천버튼*/



.vote-btn[data-type="up"] {

  border: none;

  font-size: 0;

  outline: 0 !important; 

}



.vote-btn[data-type="up"]:hover {

  background: none !important;

}



.vote-btn[data-type="up"]::before {

  display: inline-block;

  background: white;

  border: solid #e8bfd5 1px;

  float: left;

  width: 60px;

  height: 60px;

  border-radius: 60px;

  font-size: 26pt;

  content: "\f164";

  padding-top: 17px;

  padding-left: 2px;

  font: normal 22px/1 FontAwesome;

  -moz-transition:color .2s ease;

  -o-transition:color .2s ease;

  -ms-transition:color .2s ease;

  -webkit-transition:color .2s ease;

  transition:color .2s ease;

}



.vote-btn[data-type="up"]:hover::before {

  background: #e8bfd5;

  color: white;

}





.vote-btn[data-type="up"]:focus::before {

  color: #e8bfd5;

}



.vote-btn[data-type="up"]:focus:hover::before {

  color: white;

}



.vote-btn[data-type="up"] span {

  float: left;

  padding-top: 14px;

  padding-left: 15px;

  font-size: 22px;

  color: #e8bfd5;

}

.btn-outline-success {
    color: #e8bfd5;
    background-image: none;
    background-color: transparent;
    border-color: #e8bfd5;
}

/*비추천버튼*/



.vote-btn[data-type="down"] {

  border: none;

  font-size: 0;

  outline: 0 !important; 

}



.vote-btn[data-type="down"]:hover {

  background: none !important;

}



.vote-btn[data-type="down"]::before {

  display: inline-block;

  background: white;

  border: solid #bfcbe8 1px;

  float: left;

  width: 60px;

  height: 60px;

  border-radius: 60px;

  font-size: 26pt;

  content: "\f164";

  padding-top: 17px;

  padding-left: 2px;

  font: normal 22px/1 FontAwesome;

  -moz-transition:color .2s ease;

  -o-transition:color .2s ease;

  -ms-transition:color .2s ease;

  -webkit-transition:color .2s ease;

  transition:color .2s ease;

}



.vote-btn[data-type="down"]:hover::before {

  background: #bfcbe8;

  color: white;

}





.vote-btn[data-type="down"]:focus::before {

  color: #bfcbe8;

}



.vote-btn[data-type="down"]:focus:hover::before {

  color: white;

}



.vote-btn[data-type="down"] span {

  float: left;

  padding-top: 14px;

  padding-left: 15px;

  font-size: 22px;

  color: #bfcbe8;





}

.btn-outline-primary {
    color: #bfcbe8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }


/*게시판 카테고리*/

#article-list #article-list-category {
    background: #fceff6;
    border-top: 12px solid #9c75a5;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover {
    background: #fff;
}

#article-list #article-list-category>a {
    display: inline-block;
    padding: 15px 34px;
    background: #fceff6;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #9c75a5;
}

#article-list>.article-list-row>.item>.list-checkbox, #article-list>.article-list-row>.item>.list-header, #article-list>.article-list-row>.item>.list-category, #article-list>.article-list-row>.item>.list-title, #article-list>.article-list-row>.item>.list-blocked, #article-list>.article-list-row>.item>.list-time {
    border-bottom: 1px solid #e8bfd5;
    display: table-cell;
    vertical-align: middle;
}


/* 배경 */



body {

    height: auto !important;

    background: #fceff6;    /* 배경색 코드 입력 */

        /* ex) background: #ffffff; */

}

/* 로고 */



header .row>div:nth-child(1)>a {

    display: block;

    width: 200px;

    height: 50px;

    background: url(https://upload.tgd.kr/20190613/4b7f61b6748c5324b8dbd70f26bbcbcc.png) no-repeat; /* url(로고 경로 입력) */

    background-size: auto 50px;

}



header .row>div:nth-child(1)>a>img {

  display: none;

}


/*댓글쓰기 버튼*/

.btn-primary {
    color: #fff;
    background-color: #9c75a5;
  
  border-color: #9c75a5;
}

/*전체틀*/

#main #main-content>div.frame {
    background: #fff;
    border-right: 2px solid #fceff6;
    border-bottom: 2px solid #fceff6;
}

/*공지글*/

#article-list>.article-list-row.notice {
    background-color: #e8bfd5;
}


span.a-badge i.fa.fa-info-circle {
    color: #9c75a5;
    vertical-align: -2px !important;
}


#article-list>.article-list-row>.item>.list-title>small.favo {
    font-size: 11px;
    line-height: 13px;
    position: relative;
    text-align: center;
    padding: 0px 2px;
    color: #ff0000;
    word-break: break-word;
    border-radius: 1px;
    top: 3px;
    float: left;
    
}

/* 마우스 커서 포인터 */
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
 {
 cursor: url(https://upload.tgd.kr/20190615/a7469327c23cc0264bb30792b33366ad.png) 0 0, auto !important;
}


/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
 cursor: url(https://upload.tgd.kr/20190615/a7469327c23cc0264bb30792b33366ad.png) 0 0, auto !important;
}


/*폰트*/



@font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }


*{font-family:'Binggrae-Bold'} 


/*상단배너*/


header:before {

    display: block;

    width: 100%;

    height: 78px;

    background: url(https://upload.tgd.kr/20190614/a3e386e9b8cbc2363d941bb953f40c2d.png) no-repeat;   

    background-position: center center;

    position: relative;

    top: 0;

    padding: 0;

    content: " ";

    margin-bottom: 15px;

}

header {

    padding: 0 0 0.4em 0;

}

/*댓글세모*/

#article-reply-area > .header h5 

a {
    color: #9c77a8;
    text-decoration: none;
}

/* 현재 페이지 표시, 누를 페이지 표시 */



.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

    color: #9c75a5;

    background-color: #fff;

    margin-top: 2px;

    

}



/* 페이지 표시 */



.pagination>li>a, .pagination>li>span {

    color: #9c75a5;

    background-color: #fff;

    border: none;

    

}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {

    background-color: #fff;

    border-color: #9c75a5;

}

/*마우스 드래그*/

::selection {

   background: #e8bfd5;

   color: #fff;

}

/*덧글색상*/

#article-list>.article-list-row>.item>.list-title>small.comment-count {

    font-size: 12px;

    font-weight: bold;

    line-height: 13px;

    position: relative;

    text-align: center;

    padding: 0 5px;

    color: #9c75a5;

    word-break: break-word;

    border-radius: 1px;

    top: 2px;

    float: left;

}

/*토글*/
#article-list #article-option-area>#article-option-area-toggle-btn {
    background: #fceff6;
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    vertical-align: middle;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    opacity: 0.5;
    cursor: pointer;
    margin-right: 14px;
    margin-top: 13px;
}

/*게시글 리스트 마우스 오버시 색상 설정*/

#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover {
    background-color: #fceff6
}

/*덧글*/

#article-reply-area #reply-real-area .reply, #article-reply-area #reply-best-area .reply {
    margin-bottom: 0.5em;
    border: 1px solid #ffffff;
    position: relative;
}

#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    background: #ffffff;
    border-bottom: 1px solid #e8bfd5;
    padding: 0.4em 0.5em;
}


#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a, #article-reply-area #reply-best-area .reply > .reply-header > .reply-menu

a {
    color: #9c75a5;
    text-decoration: none;
}

/*페이지 부분 마우스 오버시 설정 값*/

.pagination>li>a:hover {

    background-color: #9c75a5;

    color: #fff;

}

/*댓글 쓰기 마우스 오버 설정 값*/


.btn-primary:hover {

    background-color: #fff;

    color: #9c75a5;

    border-bottom: 1px solid #9c75a5;
    border-right: 1px solid #9c75a5;
    border-left: 1px solid #9c75a5;
    border-top: 1px solid #9c75a5;

}

/*게시글 공지부분 배경 색상*/
#article-list>.article-list-row.notice {
    background-color: #e8bfd5
}

/*공지글 표시 마크*/

span.a-badge i.fa.fa-info-circle {
    color: #9c75a5;
    vertical-align: -2px !important;
}

/* 별 애니메이션 */


@keyframes binglebingle { from { transform: rotate(0deg); } to { transform: rotate(360deg); } } 

span.a-badge i.fa.fa-star { animation: binglebingle 4s infinite; }


/*스크롤*/

#movetotop img{display:none}

#movetotop{display: inline-block;opacity:1;background:url(https://upload.tgd.kr/20190615/411fb49a1ce5762b4628daa81b508165.png);    width: 80px;  height: 80px;background-size: contain;}


body {

    background: linear-gradient(to bottom, #9c75a5, #fec35b);

    /* 방향 = to bottom, to right, to left, to top */

    height: auto;

}

/*큰틀*/

#main #main-content>div.frame {
    background: #fff;
    border-right: 2px solid #f3bb6300;
    border-bottom: 2px solid #fceff600;
}

/*접속인원 이모티콘*/

#board-info #viewers-area .fa-user:before {

 color: rgba(10, 59, 84, 0);

 content: url(https://upload.tgd.kr/20190616/d02e95833d318a29f9cd9b54991758b3.png);

}


/*프로필 이미지 애니메이션*/
 
@keyframes aduck {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}
}	
		
#board-info-profile-img  {
    animation-name: aduck;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

/*게시판 점수*/

#board-info #score-area {
    font-size: 14px;
    color: rgb(232, 191, 213);
    font-weight: normal;
    vertical-align: middle;
    line-height: 18px;
    display: inline-block;
}